@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #fff; /* when ready use light-dark func*/
  --foreground: #171717;
  --primary-color: #1e90ff;
  --secondary-color: #a4bef3;
  --neutral-black: #000000;
  --base-color: #eee5e9;
  --accent-color: #d44a70;

  /* dark mode bg 030E19 */
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-neutral-black: var(--neutral-black);
  --color-base: var(--base-color);
  --color-accent: var(--accent-color);
  --font-sans: var(--font-lexend), ui-sans-serif, system-ui, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-display: var(--font-bebas);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@utility shadow-border {
  /* 1px outline-like shadow; adjust color/alpha to taste */
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.08);

  @variant hover {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.14);
  }
}
body {
  font-family: var(--font-lexend);
}
/* VIDEO JS */

/* Make progress bar bigger */
.vjs-control-bar {
  display: block !important;
  height: fit-content !important;
}
.vjs-control-bar .vjs-progress-control {
  height: 12px !important;
  margin-bottom: 6px;
  display: block !important;
  width: 100% !important;
}
.vjs-progress-holder {
  height: 100% !important;
}

.vjs-play-progress,
.vjs-load-progress {
  height: 100% !important;
}

/* Row for other controls */
.udemy-controls-row {
  display: flex;
  gap: 4rem;
  padding-left: 0.8rem;
  /* align-items: center; */
}
