@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --primary-color: #1e90ff;
  --secondary-color: #a4bef3;
  --neutral-black: #000000;
  --base-color: #eee5e9;
  --accent-color: #d44a70;
}

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-neutral-black: var(--neutral-black);
  --color-base: var(--base-color);
  --color-accent: var(--accent-color);
  --font-sans: var(--font-lexend), ui-sans-serif, system-ui, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-display: var(--font-bebas);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-lexend);
}
